<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tech.shmy.plugins.videoplayer">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <application>
        <!--<activity android:name=".PlayerActivity"></activity>-->

        <activity
            android:name=".PlayerActivity"
            android:theme="@style/Theme.AppCompat.Light.NoActionBar"
            android:configChanges="orientation|screenSize|keyboardHidden"
            android:screenOrientation="landscape">
        </activity>

    </application>

</manifest>